ul {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

#p1 {
    background-color: aqua;

}
#p2 {
    background-color: yellow;

}
#p3 {
    background-color: red;

}
#p4 {
    background-color: aqua;
    font;
}
