* { 
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    margin: 0px;
    color: white;
    
}

.menu {
    list-style: none;
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 20%;  
    margin: 0px;
    margin-left: 0px;
    color: grey;
}

#li {
    display: inline-block;
    font-style: none;
}

.menu li:hover{
    color: white;
}

#parrafo{
    display: inline-block;
    position: relative;
    left: 20%;
    height: 100%;
    margin: 0px;
}

#p1 {
    background-color: aqua;
    padding: 5%;
    margin: 0px; 
}

#p2 {
    background-color: yellow;
    padding: 5%;
    margin: 0px;
}

#p3 {
    background-color: orange;
    padding: 5%;
    margin: 0px;
}

#p4 {
    background-color: red;
    padding: 5%;
    margin: 0px;
}