

body{
    background-color: darkmagenta;
}

#parrafo1{
    background-color:blue;
    width: fit-content;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;

}
#parrafo2{
    background-color: coral;
    width: fit-content;
    margin-left: 400px;
    margin-top: 0px;
    
}

#parrafo3{

    background-color:darkkhaki;
    width: fit-content;
    margin-left: 400px;
}

#parrafo4{
    background-color: deeppink;
    width: fit-content;
    margin-left: 400px;
}